@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

body {
  background-color: #E6FFE6;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #824E19;
}

h2 {
  font-family: 'Lobster', cursive;
}

h3 {
  color: #00CC00;
}

h4 {
  font-style: italic;
  padding-top: 1.2em;
  line-height: 1.5em;
  color: #cc6600;
}

p, li {
  font-size: 1.25em;
}

.header-img {
  padding-top: 1.2em;
  max-width: 200px;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid yellow;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  text-align: left;
}

li {
  padding-bottom: 1.2em;
}

.center-block {
  border: 5px solid white;
}

.speed-game {
  background-color: #ffffe6;
  border: 2px solid #824E19;
}

.game-box {
  padding: 3em;
}

.footer-icons {
    display: inline-block;
    padding: 20px;
    list-style-type: none;
    float: right;
}

.footer-icons a {
  border: none;
}
