body {
  background-color: #E6FFE6;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #824E19;
}

h2 {
  font-family: 'Lobster', cursive;
}

h3 {
  color: #00CC00;
}

h4 {
  font-style: italic;
  padding-top: 1.2em;
  line-height: 1.5em;
  color: #cc6600;
}

p, li {
  font-size: 1.25em;
}

.header-img {
  padding-top: 1.2em;
  max-width: 200px;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid yellow;

}
